#add-listing-btn {
  background-color: #6b3d47;
  color: white;
  border: none;
  padding: 9px 35px;
  font-weight: bold;
}

#add-listing-btn:hover {
  background-color: white;
  color: black;
  border: solid black 1px;
}

.back-btn {
  color: #717171;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
}

.bids-box {
  background-color: #5d5d5d;
  border-radius: 4px;
  font-size: 11px;
  font-weight: bold;
}

.seller-box {
  background-color: #5d5d5d;
  color: white;
  border-radius: 4px;
  font-size: 10px;
}

.listing-tags .tag-box {
  display: inline-block;
  background-color: #ebebeb;
  color: #717171;
  padding: 2px 6px;
  margin: 0 4px 4px 0;
  border-radius: 4px;
  font-size: 0.8rem;
}

.tag-box {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  padding: 2px 6px;
  margin: 0 4px 4px 0;
  border-radius: 4px;
  font-size: 0.8rem;
}

.listing-btn {
  background-color: white;
  border: solid #000 1px;
}

.listing-btn:hover {
  background-color: #6b3d47;
  border: solid #6b3d47 1px;
  color: white;
}

@media (min-width: 998px) {
  #add-listing-btn {
    font-size: 18px;
    padding: 11px 55px;
  }

  .fa-plus {
    font-size: 20px;
  }

  .back-btn {
    font-size: 16px;
  }
}
