.modal-header {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

#add-listing-form label,
#edit-listing-form label {
  font-weight: 500;
  font-size: 16px;
}

#add-listing-form input,
#add-listing-form textarea,
#edit-listing-form input,
#edit-listing-form textarea {
  background-color: #fafafa;
  border: solid #b5b4b4 1px;
  border-radius: 0 !important;
}

#add-listing-form input::placeholder,
#add-listing-form textarea::placeholder,
#edit-listing-form input::placeholder,
#edit-listing-form textarea::placeholder {
  font-weight: 200 !important;
  color: #b2b2b2 !important;
}

#add-listing-form input:focus,
#edit-listing-form input:focus {
  border: solid #000 1.5px !important;
  box-shadow: none !important;
}

.confirm-btn {
  background-color: #6b3d47;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0;
}

#confirm-delete-btn {
  background-color: #f93232;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#confirm-delete-btn:hover {
  background-color: white;
  color: black;
  border: solid #f93232 1px;
}

.cancel-btn {
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

@media (min-width: 998px) {
  .modal-title {
    font-size: 30px;
  }

  #add-listing-form label,
  #edit-listing-form label {
    font-size: 18px;
  }

  .confirm-btn,
  #confirm-delete-btn,
  .cancel-btn {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .modal-title {
    font-size: 36px;
  }
}
