#profile-banner-wrapper {
  width: 100%;
  height: 310px;
  overflow: hidden;
}

#profile-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.mobile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

#profile-avatar-wrapper {
  position: relative;
  top: -100px;
  left: 20px;
  z-index: 5;
}

#profile-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#profile-info {
  margin-top: -80px;
}

#profile-name {
  font-size: 24px;
  font-weight: bold;
}

#profile-bio {
  font-size: 18px;
}

#profile-credits {
  font-size: 18px;
  font-weight: 600;
}

.edit-profile-container {
  right: 0;
  cursor: pointer;
  z-index: 100;
}

#edit-profile-btn {
  color: #5d5d5d;
  font-weight: 300;
  font-size: 14px;
  border: none;
  background-color: transparent;
}

#edit-profile-btn:hover {
  color: black;
}

/* Tabs styling */
/* Listings */
#user-listings,
#user-bids {
  overflow-y: scroll;
  max-height: 600px;
}
.nav-tabs {
  border-bottom: solid #6b3d47 1px !important;
  display: flex;
  width: 100%;
}

#profile-tab .nav-tabs,
#profile-tab .nav-link,
#profile-tab-content {
  border-radius: 0 !important;
}

#profile-tab .nav-link {
  border: none;
  background: transparent;
  font-weight: bold;
  color: black;
  width: 100%;
  padding: 9px 0;
  font-size: 18px;
}

#profile-tab .nav-item {
  flex: 1;
  text-align: center;
}

#profile-tab .nav-link.active {
  background-color: #6b3d47;
  color: white;
  border: none;
}

.profile-listing-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.profile-listing-heading {
  font-size: 20px;
  font-weight: bold;
}

.profile-listing-desc {
  font-size: 16px;
}

.profile-listing-deadline {
  font-size: 16px;
  color: black;
  font-weight: 100;
}

.profile-listing-text p {
  margin-right: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.profile-auction-status {
  font-size: 16px;
}

.listing-buttons button {
  flex: 1;
}

.col-12 hr {
  border-top: solid #ebebeb 2px;
  opacity: 1;
  margin-top: 0;
}

.profile-auction-status.active {
  color: #439f6e;
  font-weight: 600;
  font-size: 16px;
}

.profile-auction-status.ended {
  color: #d32f2f;
  font-weight: 600;
  font-size: 16px;
}

.profile-listing-btns {
  width: 100%;
}

.profile-delete-btn {
  border: solid #d32f2f 1px;
  background-color: #d32f2f;
  color: white;
  font-weight: 500;
  padding: 6px 30px;
  width: 100%;
  font-size: 16px;
}

.profile-delete-btn:hover {
  background-color: white;
  color: #d32f2f;
}

.profile-edit-listing-btn {
  font-weight: 500;
  padding: 6px 30px;
  border: solid black 1px;
  background-color: transparent;
  width: 100%;
  font-size: 16px;
}

.profile-edit-listing-btn:hover {
  background-color: #6b3d47;
  border: solid #6b3d47 1px;
  color: white;
}

/* Bids */
.bid-image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.bid-text h5 {
  font-size: 22px;
  font-weight: bold;
}

.bid-text p {
  font-weight: 400;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.bid-deadline {
  color: #717171;
  font-weight: 100 !important;
}

.bid-amount {
  font-size: 18px;
}

@media (min-width: 576px) {
  .profile-listing-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
  }

  .profile-listing-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile-listing-btns,
  .profile-delete-btn,
  .profile-edit-listing-btn {
    width: auto;
  }

  .profile-listing-card img,
  .bid-image img {
    width: 170px;
    height: 170px;
  }
}

@media (min-width: 660px) {
  #profile-avatar-wrapper {
    left: 50px;
    position: absolute;
    bottom: 0;
  }

  #profile-avatar {
    width: 270px;
    height: 270px;
  }

  #profile-info {
    text-align: left;
    margin-left: 360px;
    margin-top: 40px;
  }

  #profile-name {
    font-size: 28px;
  }

  #profile-bio {
    font-size: 18px;
  }

  #profile-credits {
    font-size: 20px;
  }
}

@media (min-width: 998px) {
  #edit-profile-btn {
    font-size: 16px;
  }
}
