@import url("./auth.css");
@import url("./bids.css");
@import url("./details.css");
@import url("./listings.css");
@import url("./modals.css");
@import url("./profile.css");

/* General styles */
body {
  color: black;
  font-family: "Open Sans", sans-serif;
  max-width: 1500px;
}

.title-section {
  background-color: #ebebeb;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 40px;
}

.title-section h1 {
  font-weight: bold;
  font-size: 24px;
}

.page-container {
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Spinner */
#spinner {
  z-index: 1350;
}

.spinner-status {
  width: 4rem !important;
  height: 4rem !important;
}

/* Validation */
.input-error {
  border: solid #f93232 1px !important;
  background-color: #ffe0e0 !important;
}

.error-message {
  color: #f93232;
  font-size: 14px;
  margin-top: 8px;
  display: none;
}

.error-message.active {
  display: block;
}

/* Notifications */
#notifications {
  z-index: 200;
  width: 100%;
}

.notification {
  display: block;
  max-width: 450px;
  margin: 0 16px 2rem 16px;
  padding: 13px 9px;
}

.notification-success {
  font-size: 16px;
  border: solid #439f6e 1px;
}

.fa-circle-check {
  color: #439f6e;
}

.notification-error {
  font-size: 16px;
  border: solid #f93232 1px;
}

.fa-triangle-exclamation {
  color: #f93232;
}

.notification button {
  border: none;
  background-color: transparent;
}

/* Navigation */
header {
  box-shadow: 0 2px 8px rgba(99, 99, 99, 0.2);
  z-index: 100;
}

#logo {
  width: 167px;
  height: auto;
}

.search-input {
  background-color: #fafafa !important;
  border: solid #b5b4b4 1px !important;
  border-radius: 0 !important;
  padding-left: 2.4rem !important;
  max-width: 700px;
}

.search-input::placeholder {
  font-weight: 200 !important;
  color: #b2b2b2 !important;
}

.form-control:focus {
  border: solid #000 1.5px !important;
  box-shadow: none !important;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: #717171;
  pointer-events: none;
}

#mobile-menu-toggle {
  color: #000;
  font-size: 15px;
  z-index: 1200;
}

#mobile-menu {
  z-index: 1050;
}

#user-credits-mobile,
#user-credits-desktop {
  background-color: #ebebeb;
  padding: 7px 12px;
}

/* Footer */
footer {
  border-top: solid #ebebeb 2px;
}

footer p {
  color: #717171;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}

@media (min-width: 576px) {
  .notification {
    margin-left: auto;
  }

  .page-container {
    padding-left: 24px;
    padding-right: 24px;
  }

  #logo {
    width: 200px;
  }
}

@media (min-width: 768px) {
  #logo {
    width: 210px;
  }

  .desktop-nav .nav-link {
    padding: 7px 20px;
  }

  #user-credits-desktop {
    flex-shrink: 0;
    white-space: nowrap;
    margin-left: 1rem;
  }

  .desktop-nav .nav-link:hover {
    background-color: #6b3d47;
    color: white;
  }
}

@media (min-width: 998px) {
  .page-container {
    padding-left: 48px;
    padding-right: 48px;
  }

  .title-section {
    padding: 25px 0;
  }

  .title-section h1 {
    font-size: 30px;
  }

  .search-form {
    margin: 0 auto !important;
  }

  .desktop-nav .nav-link {
    padding: 7px 30px;
    font-size: 18px;
  }

  footer p {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .page-container {
    padding-left: 80px;
    padding-right: 80px;
  }

  .title-section {
    padding: 30px 0;
  }

  .title-section h1 {
    font-size: 36px;
  }
}
